/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .dance {
  animation: dance 1s infinite;
}

@keyframes dance {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px) rotate(30deg);
  }
  100% {
    transform: translateX(0);
  }
}  */
